.card {
	max-width: 29vw;
	margin: 0 2vw;
}

.card:hover {
	border: 2px solid blue;
}

.Titulo {
	font-size: 20px;
}

.card img {
	width: 29vw;
	margin: 0 0 0 0;
}

.preco {
	width: 5vw;
	font-size: 3em;
	float: left;
	margin: 0 10px 0 20px;
}

.descricao {
	margin: 15px 0 0 40px;
	width: 15vw;
	float: left;
}
